html, body, #root {
    font-family: 'Inter', sans-serif, 'Helvetica Neue', Arial, sans-serif !important; /* Apply Inter font globally */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box; /* Optional: Add consistent box sizing */
}
html, body { height: 100%; background-color: white; }
body { overflow: hidden; background-color: white; }
#root { display: flex; height: 100%; background-color: white;}

input {
  outline-style: none;
}
